@using SayOnlinePanel.Common
@model SayOnlinePanel.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="content">
    <img src="https://www.jisc.ac.uk/sites/default/files/online-surveys-service-banner.png" class="img-fluid" .w-100 alt="Responsive image">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-4 media">
            <img src="https://talkonlinepanel.com/sites/talkonlinepanel.com/files/toolbar-images/1.svg" width="100" class="mr-3" alt="...">
            <div class="media-body">
                <h4 class="text-muted">Попълнете формата и се регистрирайте</h4>
            </div>
        </div>
        <div class="col-md-4 media">
            <img src="https://talkonlinepanel.com/sites/talkonlinepanel.com/files/toolbar-images/2.svg" width="100" class="mr-3" alt="...">
            <div class="media-body">
                <h4 class="text-muted">Участвайте в анкети и спечелете точки</h4>
            </div>
        </div>
        <div class="col-md-4 media">
            <img src="https://talkonlinepanel.com/sites/talkonlinepanel.com/files/toolbar-images/3.svg" width="100" class="mr-3" alt="...">
            <div class="media-body">
                <h4 class="text-muted">Обменете точките за награди</h4>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div>
        <h2 class="text-muted">За нас</h2>
        <p class="text-muted">
            Sey Online Panel е агенция за маркетингови проучвания.
            Събираме информация за хората и техните предпочитания за продукти, услуги, реклами. Изследователите и фирмите се интересуват от мнението ти, за да разработват продукти и услуги.
        </p>
        <p class="text-muted">
            Предлагаме ти възможност да участваш в онлайн анкети по интернет. 
            Участниците в анкетите ни се възнаграждават с точки, като за всяка попълнена анкета се получават определен брой бонус точки. Всеки участник може да размени своите точки за ваучери за подарък.
        </p>
        <p class="text-muted">
            Като член на Sey Online Panel, Вие ставате част от тези, които желаят да участват доброволно в он-лайн маркетингови проучвания, провеждани от Sey Online Panel и/или нейни клиенти.
        </p>
        <p class="text-muted">           
            При участието Ви в нашите проучвания, ние събираме Вашите отговори, обединяваме ги с отговорите на другите участници и предоставяме резултатите на нашите клиенти. Вашите отговори се предоставят в общ, анонимен вид, което означава, че информацията по никъкъв начин няма да носи или предоставя лични данни за Вас, както и за отговорите, които сте дали.
        </p>
    </div>
    <p>&nbsp;</p>
    <h2 class="text-muted">Награди</h2>

    <div class="container">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="col-sm"><img class="d-block w-100" src=@Model.Vouchers[i].Image alt="1 slide"></div>
                        }

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        @for (int i = 3; i < 6; i++)
                        {
                            <div class="col-sm"><img class="d-block w-100" src=@Model.Vouchers[i].Image alt="4 slide"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

