@using SayOnlinePanel.Common
@model SayOnlinePanel.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<p>&nbsp;</p>
<strong class="intro-title">Vouchers</strong>
<div class="row">
    @foreach (var v in Model.Vouchers)
    {
        <div class="col-md-4 media">
            <a asp-controller="Vouchers" asp-action="ById" asp-route-id="@v.Id"><img src="@v.Image" width="80" class="mr-3" alt="@v.Name"></a>
        </div>}
</div>
<p>&nbsp;</p>
