@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>
    Този сайт е учебен проект, написан като изискване за завършване на купс ASP.NET Core - октомври 2020 към SoftUni и не отразява реални проучвания.
</p>
<p>
    Използването на SayOnlinePanel е абсолютно доброволно и следователно събирането, обработката и споделянето на лични данни и персонално идентифицираща информация на членовете на панела от страна на SayOnlinePanel се извършват с тяхно съгласие.
</p>