@model SayOnlinePanel.Web.ViewModels.Statictics.SingleSurveyViewModel

@foreach (var question in Model.Questions)
{
    <div id="container-@question.Id" style="width:100%; height:400px;"></div>
    <p>&nbsp;</p>
}


@section Scripts {
    <script>
        function AddQuestionChart(container, name, answersNames, answersCount) {
            const chart = Highcharts.chart(container, {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: name
                },
                xAxis: {
                    categories: answersNames
                },
                yAxis: {
                    title: {
                        text: 'Complete'
                    }
                },
                series: [{
                    name: '% of All',
                    data: answersCount
                }
                ]
            });

        }
    </script>
}


<script type="text/javascript">
@foreach (var question in Model.Questions)
{
    var answersNames = new List<string>(); // new string[question.Answers.Count()];
    //var answersCount = new List<int>(); // new int[question.Answers.Count()];
    var answersCountPercent = new List<double>();


    @foreach (var answer in question.Answers)
    {
        answersNames.Add(answer.Name);
        //answersCount.Add(answer.Count);
        answersCountPercent.Add(Math.Round(answer.CountPercent, 1));
    }
    <text>
    document.addEventListener('DOMContentLoaded',
        function () {
            let name = @Html.Raw(Json.Serialize(question.Name));
            let answersNames = @Html.Raw(Json.Serialize(answersNames));
            @*let answersCount = @Html.Raw(Json.Serialize(answersCount));*@
            let answersCountPercent = @Html.Raw(Json.Serialize(answersCountPercent));
            let container = "container-@question.Id";
            AddQuestionChart(container, name, answersNames, answersCountPercent);
        }
    );
    </text>
}
</script>
