@using SayOnlinePanel.Web.ViewModels.Users
@model SayOnlinePanel.Web.ViewModels.Users.PeopleSelectionViewModel


<p>&nbsp;</p>
<h4 class="text-secondary">Благодарим Ви за участието!</h4>
<h5 class="text-muted">
    За съжаление ние вече имаме достатъчно хора от вашата целева група.
    За да изкажем нашата благодарност ние прехвърлихме @ViewData["points"] точки към вашия актуален баланс
</h5>