@using SayOnlinePanel.Common
@model SayOnlinePanel.Web.ViewModels.UserInfos.SyrveysListViewModel
<div class="block-content">
    <h3 class="text-info">Актуални анкети за Вас:</h3>
    <p class="text-muted">
        По-долу ще откриете всички налични за Вас анкети в момента. Ще се радваме, ако участвате в тях и съберете съответните точки за всяка.
    </p>
</div>
<hr />

@if (Model.SurveysForUser.Count() > 0)
{
    <table class="table table-hover">
        <thead>
            <tr class="table-info">
                @*<th scope="col">Дата</th>*@
                <th scope="col">Участие в анкета</th>
                <th scope="col">Точки</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sv in Model.SurveysForUser)
            {
                <tr>
                    <td><a asp-controller="Users" asp-action="CompleteTargetSurvey" asp-route-id="@sv.TargetSurvey.Id" class="text-muted">@sv.TargetSurvey.Name</a></td>
                    <td>@sv.PointsStart</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<p class="text-info">Няма намерени налични анкети.</p>
}

<hr />


