@model SayOnlinePanel.Web.ViewModels.Vouchers.CreateVoucherInputModel


<form method="post" class="col-md-6 offset-md-3">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Points"></label>
        <input asp-for="Points" class="form-control" />
        <span asp-validation-for="Points" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Leva"></label>
        <input asp-for="Leva" class="form-control" />
        <span asp-validation-for="Leva" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Company"></label>
        <input asp-for="Company" class="form-control" />
        <span asp-validation-for="Company" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>



